################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IngestApp/v15
/IngestApp/obj/Debug/CoreCompileInputs.cache
