@{
    ViewBag.Title = "Start Ingest";
}

<div>
    <br />
    <form action="submit.cshtml">
        Source Name: <input type="text" name="source" /><br />
        Source Path: <input type="text" name="sourcePath" /><br />
        <input type="button" value="Start Ingest" />
    </form>
</div>

